body {
  background-color: rgb(248, 216, 126);
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 20px;
  
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 30px);
  padding: 10px 15px 10px 15px;
  background-color: black;
  font-family:monospace;
  font-size: 20px;
  

  h1 {
    margin: 0px;
    color: white;
  
  }
   

  a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
   
  }

}

  .movie__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: monospace;
  }


  img {
    max-width: 300px;
  }


  .main {
    margin-top: 50px;
  }

  .header {

  margin-top: 50px;
  }

  button {
    background-color: #f1f1ec; /* Green */
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .search {
    font-size: 22px;

  }

  h1 {
    font-family: monospace
  }

  h2 {
  font-family:monospace
  }

  .movie__tile {
    // margin: 10px;
    // padding: 10px;
    // border: #050714 1px solid;
    // border-radius: 10px;
    // font-size: 20px;
    width: 300px;
    height: 600px;
  }

