body {
  background-color: rgb(248, 216, 126);
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 20px;
  
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 30px);
  padding: 10px 15px 10px 15px;
  background-color: black;
  font-family:monospace;
  font-size: 20px;
  

  h1 {
    margin: 0px;
    color: white;
  
  }
   

  a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
   
  }

}

  .movie__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: monospace;
  }


  img {
    max-width: 300px;
  }


  .main {
    margin-top: 50px;
  }

  .header {

  margin-top: 50px;
  }

  button {
    background-color: #f1f1ec; /* Green */
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .search {
    font-size: 22px;

  }

  h1 {
    font-family: monospace
  }

  h2 {
  font-family:monospace
  }

  .movie__tile {
    // margin: 10px;
    // padding: 10px;
    // border: #050714 1px solid;
    // border-radius: 10px;
    // font-size: 20px;
    width: 300px;
    height: 600px;
  }

  a {
    margin:3em;
    font-family:arial;
    text-decoration:none;
    position:relative;
    display:inline-block;
    padding:1.5em 5em;
    text-transform:uppercase;  
    overflow:hidden;
    color:white;
    border:3px solid white;
    border-left:none;
    border-right:none;
    background:linear-gradient(to left, white 3px, transparent 3px, transparent calc(100% - 3px), white calc(100% - 3px)) top left no-repeat,linear-gradient(to left, white 3px, transparent 3px, transparent calc(100% - 3px), white calc(100% - 3px)) bottom left no-repeat;
    background-size:100% 1.45em;
  }
  
  a:before,a:after {
    z-index:-1;
    content:'';
    position:absolute;
    height:1.2em;
    width:1em;
    top:1.4em;
    border-radius:50%;
    border:3px solid white;
    box-shadow:0 0 0 10em #102229;

    a:before {
      left:-0.7em;
    }a:after {
      right:-0.7em;
    }
    b:after {
      content:'>';
      color:#DA153E;
      font-weight:bold;  
      }
    body {
      background:url(http://lorempixel.com/600/300);
    }